@import "variables";

.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 600;
	line-height: 1;
	color: $dark;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
	background: linear-gradient(-45deg, $accent1, $accent2);
}

.nav {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	padding: 2rem 3rem;
	z-index: 1;
	.quicklinks {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 0.5rem;
		margin-right: 0.75rem;
		a {
			color: $light;
			text-decoration: none;
			font-size: 0.9rem;
			font-weight: 400;
			&:hover {
				text-decoration: underline;
			}
			&:first-child {
				margin-right: 1rem;
			}
		}
	}
	.navlinks {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-start;
		margin: 0;
		li {
			list-style: none;
			a {
				color: $light;
				text-decoration: none;
				font-size: 0.9rem;
				font-weight: 400;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					width: 8px;
					height: 2px;
					display: block;
					background: linear-gradient(-45deg, $accent1, $accent2);
					top: 0.5rem;
					left: -0.8rem;
					transition: all 0.2s ease-in-out;
					opacity: 0;
				}
				&:hover {
					&::after {
						opacity: 1;
					}
				}
			}
		}
	}
}
